@inherits LayoutComponentBase
@inject IStringLocalizer<Resources> Localizer
@inject IModalService Modal

 <PageTitle>SnipeLabelEditor</PageTitle>

<BlazoredToasts/>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand"></a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <NavLink class="nav-link link-dark" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["labels"]
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link link-dark" href="labeleditor">
                            <span class="oi oi-code" aria-hidden="true"></span> @Localizer["labelEditor"]
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link link-dark" href="settings">
                            <span class="oi oi-cog" aria-hidden="true"></span> @Localizer["settings"]
                        </NavLink>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2">
                        <button class="btn btn-outline-primary" @onclick="@(() => Modal.Show<Help>(Localizer["help"], _helpModalOptions))">
                            <span class="oi oi-question-mark" aria-hidden="true"></span> @Localizer["help"]
                        </button>
                    </li>
                    <li class="nav-item ms-auto">
                        <ChooseLanguage></ChooseLanguage>
                    </li>
                </ul>
            </div>
        </nav>
        
        <article class="mt-3">
            @Body
        </article>

    </main>
</div>

@code
{
    BlazoredModal _helpModal;

    private ModalOptions _helpModalOptions = new ModalOptions()
    {
        Size = ModalSize.Large,
    };
}