@page "/assetselector"
@inject IToastService ToastService
@inject IStringLocalizer<Resources> Localizer

<div class="input-group mb-3">
    <label class="input-group-text">@Localizer["loadAsset"]</label>
    <select class="form-select" @bind="_searchAssetBy">
        <option selected="selected" value="@Localizer["selectAssetById"].Name">@Localizer["selectAssetById"]</option>
        <option value="@Localizer["selectAssetByTag"].Name">@Localizer["selectAssetByTag"]</option>
    </select>
    @switch (_searchAssetBy)
    {
        case "selectAssetByTag":
            <input class="form-control" @bind="_assetTag" @onkeyup="@(args => { if (args.Key == "Enter") SetAssetByTag(); })"/>
            <button class="btn btn-primary" @onclick="SetAssetByTag">@Localizer["apply"]</button>
            break;
        case "selectAssetById":
            <input class="form-control" @bind="_assetId" @onkeyup="@(args => { if (args.Key == "Enter") SetAssetById(); })"/>
            <button class="btn btn-primary" @onclick="SetAssetById">@Localizer["apply"]</button>
            break;
        default:
            <input class="form-control" @bind="_assetTag" @onkeyup="@(args => { if (args.Key == "Enter") SetAssetByTag(); })"/>
            <button class="btn btn-primary" @onclick="SetAssetByTag">@Localizer["apply"]</button>
            break;
    }
</div>
@if (!HideTableOfValues)
{
    <div class="row">
        <div class="overflow-auto" style="max-height: 640px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Variable</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in JsonFields)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private bool _hideTableOfValues = false;

    [Parameter]
    public bool HideTableOfValues
    {
        get => _hideTableOfValues;
        set
        {
            _hideTableOfValues = value; 
            StateHasChanged();
        }
    }

    [Parameter]
    public EventCallback OnAssetChanged { get; set; }

    public Dictionary<string, string> JsonFields = new Dictionary<string, string>();

    private string _searchAssetBy;
    private int _assetId;
    private string _assetTag;

    private async Task SetAssetById()
    {
        await SetAsset($"{_assetId}");
    }
    
    private async Task SetAssetByTag()
    {
        await SetAsset($"bytag/{_assetTag}");
    }
    
    private async Task SetAsset(string endpoint)
    {
        try
        {
            string jsonstring = await Globals.SnipeIT.GetStringAsync($"/api/v1/hardware/{endpoint}");

            var node = JsonStringToJsonNode(jsonstring);

            if (node is not null)
            {
                JsonFields.Clear();
                AddJsonNodeToDictionary(node);
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        
        StateHasChanged();

        await OnAssetChanged.InvokeAsync();
    }

    private JsonNode JsonStringToJsonNode(string jsonstring)
    {
        if (string.IsNullOrEmpty(jsonstring))
        {
            return null;
        }

        JsonNode _jsonNode = JsonObject.Parse(jsonstring);

        if (_jsonNode is null)
        {
            return null;
        }
        else
        {
            return _jsonNode;
        }
    }

    private void AddJsonNodeToDictionary(JsonNode jsonnode)
    {
        if (jsonnode is null)
        {
            return;
        }

        foreach (var field in jsonnode.AsObject())
        {
            if (field.Value is not null)
            {
                if (field.Key == "custom_fields")
                {
                    string cfjsonString = field.Value.ToString();
                    var jsonObjectCF = JsonObject.Parse(cfjsonString);
                    foreach (var nestedField in jsonObjectCF.AsObject())
                    {
                        if (nestedField.Value is not null)
                        {
                            string cfChildjsonString = nestedField.Value.ToString();
                            var jsonObjectCFChild = JsonObject.Parse(cfChildjsonString);
                            foreach (var nestedFildFilds in jsonObjectCFChild.AsObject())
                            {
                                if (nestedFildFilds.Value is not null)
                                {
                                    JsonFields.Add($"{field.Key}_{nestedField.Key}_{nestedFildFilds.Key}", nestedFildFilds.Value.ToString());
                                }
                            }
                        }

                    }
                }
                else if (field.Value.ToString().Contains("{"))
                {
                    try
                    {
                        string jsonNested = field.Value.ToString();
                        var jsonObjectTemp = JsonObject.Parse(jsonNested);
                        foreach (var fieldTemp in jsonObjectTemp.AsObject())
                        {
                            if (fieldTemp.Value is not null)
                            {
                                JsonFields.Add($"{field.Key}_{fieldTemp.Key}", fieldTemp.Value.ToString());
                            }
                        }
                    }
                    catch
                    {
                        // ignored
                    }
                }
                else
                {
                    JsonFields.Add(field.Key, field.Value.ToString());
                }
            }
        }
    }
}
