@page "/printview/{LabelId:int}"
@inject LabelsDBContext DbContext
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resources> Localizer

<PageTitle>@(Localizer["printView"] + " " + _label.Name)</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <AssetSelector @ref="_assetSelector" HideTableOfValues="true" OnAssetChanged="RenderPdf"></AssetSelector>
        </div>
        
        <div class="col">
            <button class="btn btn-primary" @onclick="Edit">@Localizer["edit"]</button>
        </div>
    </div>
    <hr/>
   @if (string.IsNullOrEmpty(_pdfDataUrl))
   {
       <Loading DisplayText="@Localizer["generatePdf"]"></Loading>
       RenderPdf();
   }
   else
   {
       <div style="display: flex; justify-content: center;">
           <div id="PrintDiv" style="display: inline-block; width: 100%">
               <embed type="application/pdf" src="@_pdfDataUrl" style="width: 100%; height: @((_label.HeightMm + 30) + "mm"); overflow: hidden"/>
           </div>
       </div>
   }
</div>

@code {
    [Parameter]
    public int LabelId { get; set; }

    private Label _label = new Label();

    private AssetSelector? _assetSelector;

    private int _assetId = 0;
    
    string _pdfDataUrl = string.Empty;

    protected override void OnInitialized()
    {
        if (LabelId > 0)
        {
            var label = DbContext.Labels.FirstOrDefaultAsync(x => x.Id == LabelId).Result;
            if (label is not null)
            {
                _label = label;

                RenderPdf();
                
                return;
            }
        }
        
        ToastService.ShowError(Localizer["labelNotExist"]);
    }

    private void RenderPdf()
    {
        _pdfDataUrl = HtmlConverterImagePDF.RenderLabelPDF(_label.HTML, _label.HeightMm, _label.WidthMm, _label.MarginLeft, _label.MarginRight, _label.MarginTop, _label.MarginBottom, _assetSelector?.JsonFields);
    }

    private void Edit()
    {
        NavigationManager.NavigateTo("labeleditor/" + LabelId);
    }
}